*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   background-image:url(images/tech.jpeg);
   background-size: cover;
   background-position:center ;

}
.loginbox{
    position: relative;
    width: 600px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
h2{
    font-size: 1cm;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 90%;
    margin:0 auto 30px auto;
    padding: 20px 5px 0px;
    border-bottom: 1px solid #fff;

}
.input-box label{
    position: absolute;
    top: 14px;
    left: 5px;
    /*transform: translateY(-50%);*/
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -6px;
    font-size: 1em;
}
.input-box input{
    width: 100%;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 14px 30px 12px 5px;
    line-height:1.2em;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}
.remember-forgot{
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{

    margin-right: 9px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor:pointer;
    font-size: 1em;
    color :black;
    font-weight: 500;
}
.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin:25px 0 10px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;


}
@media (max-width: 360px) {
   .loginbox {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
   } 
}